{% extends "base.html" %}
{% block content %}
{% load static %}

  <!-- 🔹 Hero Section -->
<section class="hero">
  
  <!-- 🔹 Pre-Hero Full Width Section -->
  <div class="w-full pre-hero">
    <div class="max-w-7xl mx-auto h-full flex flex-col md:flex-row items-center justify-between px-6">

      <!-- Left Text -->
      <div class="text-left md:w-1/2 mb-6 md:mb-0">
      	{% if user.is_authenticated %}
      	<h2 class="text-4xl font-bold text-gray-800">Welcome back, {{ user.first_name}}!</h2>
      	{% else %}
        <h2 class="text-4xl font-bold text-gray-800">Build Confidence.</h2>
        <h2 class="text-4xl font-bold text-gray-800">Get Hired.</h2>
        {% endif %}
      </div>

      <!-- Right Image -->
      <div class="md:w-1/2 flex justify-center">
        <img src="{% static 'backend/images/hero-img.png' %}" alt="Mock Interview" class="img-main">
      </div>

    </div>
  </div>
<div style="position: relative; width: 100%;">
  <img src="{% static 'backend/images/wave-2.svg' %}" 
       style="position: absolute; top: 12px; left: 0; width: 100%; height: auto; z-index: 0;" />

  <img src="{% static 'backend/images/wave.svg' %}" 
       style="position: absolute; top: 0; left: 0; width: 100%; height: auto; z-index: 10;" />
</div>
</section>
{% endblock %}